<div *ngIf="etelid == -1">
    <table *ngFor="let Etel of Etelek; index as i">
        <tr>
            <td><a [routerLink]="['/etlap/'+i]">{{Etel.EtelNeve}}</a></td>
        </tr>
    </table>
</div>
<div *ngIf="etelid > -1">
    <table>
        <tr>
            <td rowspan="2">
                <img src="{{Etelek[etelid].Url}}" />
            </td>
            <td>{{Etelek[etelid].EtelNeve}}</td>
        </tr>
        <tr>
            <td>{{Etelek[etelid].Leiras}}</td>
        </tr>
    </table>
    <a [routerLink]="['/etlap']">Vissza</a>
</div>