#content {
    width: 960px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100vh;

}

img {
    width: 960px;
}

footer {
    text-align: right;
}